<style>

#chatbox {
    width: 600px;
    height: 400px;
    border: 6ch solid #d77db3;
    overflow: auto;
    padding: 10px;
}

#userInput {
    margin-top: 5cm;
}

body 
{
    background-color:rgba(14, 76, 85, 0.44);
}

p    {color: rgb(31, 3, 37);
    font-size:xx-large;}

.button {
        background-color: #04AA6D; /* Green */
    
        color: rgb(11, 8, 17);
        padding: 15px 32px;
        text-align: center;
        text-decoration: unset;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 20%;
        height: max-content;
      }
      
</style>
